.MedicionesForm {
  margin-bottom: 32px;
}

.MedicionesForm-Time{
  margin: 24px 0;
}

.MedicionesForm-Fecha{
  margin-top: 1em;
}

.MedicionesForm-Idicador{
  margin-top: 5px;
}

.MedicionesForm-Button{
  padding: 0 24px;
}

.MedicionesForm-Error{
  margin-top: 16px;
  color: red;
}

@media (min-width: 768px) {
  .MedicionesForm-Fecha{
    margin-top: 0;
  }
}
